
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  }
/* fine reset */

/* contenitore generale */
.wrapper {
  width: 70%;

  margin: auto;
}
/* fine contenitore generale */


/* inizio header */
header {
  width: 100%;
  height: 100px;
  background: yellow;
  margin: 15px 0;
  overflow: hidden;
}
/* fine header */

/* inizio main rule*/
main {
  margin-bottom: 10px;

}

main::after{
  content: "";
  display: table;
  clear: both;
}
/* fine main rule*/

/* colonna sinistra */
main div.col.left {
  width: 25%;
  height: 300px;
  background: pink;
  float: left;
}
/* fine colonna  sinistra */

/* colonna centrale */
main div.col.center {
  width: 44%;
  height: 600px;;
  background: purple;
  float: left;
  margin: 0 3%;
}
/* fine colonna centrale */

/* colonna destra */
div.col.right{
  width: 25%;
  height: 600px;
  float: left;

}
/* fine colonna destra */

/* contenuto colonna destra */

main .col.right .top {
  width: 100%;
  height: 45%;
  background: pink;
  margin-bottom: 10%;
  overflow: hidden;

}

main .col.right .bottom {
  width: 100%;
  height: 45%;
  background: pink;
  overflow: hidden;

}
/* fine contenuto colonna destra */


/* inizio footer */
footer {
  width: 100%;
  height: 50px;
  background: cyan;
  margin-bottom: 10px;
}
/* fine footer */
